---
import path from 'node:path'
import '../assets/global.css'
import Header from '../components/structure/Header.astro'
import Footer from '../components/structure/Footer.astro'
import LeftSidebar from '@/components/structure/LeftSidebar.astro'
import TableOfContents from '@/components/structure/TableOfContents.astro'
import MoreMenu from '@/components/structure/MoreMenu.astro'
import { githubRepoDocsUrl } from '@/utils/constants'
import IframeNoFlash from '@/components/IframeNoFlash.astro'

const relativeFile = path.relative(process.cwd(), Astro.props.frontmatter.file)
const githubEditUrl = githubRepoDocsUrl + relativeFile
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <title>{Astro.props.title}</title>
  </head>

  <body>
    <div id="app">
      <Header stretch />
      <div class="docs-container stretch content">
        <LeftSidebar url={Astro.url} githubEditUrl={githubEditUrl} />
        <main id="main-space" class="docs-container">
          <div class="markdown-container">
            <slot />
          </div>
          <MoreMenu githubEditUrl={githubEditUrl} />
          <Footer />
        </main>
        <TableOfContents headings={Astro.props.headings} />
      </div>
    </div>
    <IframeNoFlash />
    <style>
      .content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 3.5rem);
      }

      #main-space {
        height: 100%;
        padding: 0;
        width: 100%;
        min-width: 0;
      }

      .markdown-container > :global(h1:first-child) {
        margin-top: 0.7rem;
      }

      @media (min-width: 768px) {
        #main-space {
          height: 100%;
          padding: 0 3rem;
        }
      }
    </style>
  </body>
</html>
