---
import path from 'node:path'
import '../assets/global.css'
import Header from '../components/structure/Header.astro'
import Footer from '../components/structure/Footer.astro'
import LeftSidebar from '@/components/structure/LeftSidebar.astro'
import TableOfContents from '@/components/structure/TableOfContents.astro'
import MoreMenu from '@/components/structure/MoreMenu.astro'
import {
  appDesc,
  appName,
  webPublisherDocsUrl,
  githubRepoDocsUrl
} from '@/utils/constants'
import IframeNoFlash from '@/components/IframeNoFlash.astro'

const ogImage = new URL('/og-image.png', Astro.site).href
const ogUrl = Astro.site.origin
const relativeFile = path.relative(process.cwd(), Astro.props.frontmatter.file)
const githubEditUrl = githubRepoDocsUrl + relativeFile
const webPublisherEditUrl =
  webPublisherDocsUrl + relativeFile + '?initialPage=' + Astro.url.pathname
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <title>{Astro.props.frontmatter.title} | {appName}</title>
    <meta name="description" content={appDesc} />
    <meta property="og:description" content={appDesc} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="whyframe" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl} />
    <meta property="twitter:card" content="summary_large_image" />
  </head>

  <body>
    <div id="app">
      <Header stretch />
      <div class="docs-container stretch content">
        <LeftSidebar />
        <main id="main-space" class="docs-container">
          <div style="display: none">
            <svg>
              <symbol
                id="autolink-icon"
                width="24"
                height="24"
                fill="currentColor"
              >
                <path
                  d="M14.828 12l1.414 1.414 2.828-2.828a4 4 0 0 0-5.657-5.657l-2.828 2.828L12 9.172l2.828-2.828a2 2 0 0 1 2.828 2.828L14.828 12zM12 14.83l1.414 1.414-2.828 2.828a4 4 0 0 1-5.657-5.657l2.828-2.828L9.172 12l-2.828 2.83a2 2 0 0 0 2.828 2.828L12 14.83zm2.83-4.244a1 1 0 1 0-1.414-1.414l-4.243 4.243a1 1 0 0 0 1.414 1.414l4.243-4.243z"
                ></path>
              </symbol>
            </svg>
          </div>
          <div class="markdown-container">
            <slot />
          </div>
          <MoreMenu
            githubEditUrl={githubEditUrl}
            webPublisherEditUrl={webPublisherEditUrl}
          />
          <Footer />
        </main>
        <TableOfContents
          headings={Astro.props.headings}
          githubEditUrl={githubEditUrl}
          webPublisherEditUrl={webPublisherEditUrl}
        />
      </div>
    </div>
    <IframeNoFlash />
    <style>
      .content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 3.5rem);
      }

      #main-space {
        height: 100%;
        padding: 0;
        width: 100%;
        min-width: 0;
      }

      .markdown-container > :global(h1:first-child) {
        margin-top: 0.7rem;
      }

      @media (min-width: 768px) {
        #main-space {
          height: 100%;
          padding: 0 3rem;
        }
      }
    </style>
  </body>
</html>
