---
import vite from '@/assets/vite.svg'
import webpack from '@/assets/webpack.svg'
import rollup from '@/assets/rollup.svg'
import svelte from '@/assets/svelte.svg'
import vue from '@/assets/vue.svg'
import solid from '@/assets/solid.svg'
import preact from '@/assets/preact.svg'
import react from '@/assets/react.svg'
import astro from '@/assets/astro.svg'
---

<section>
  <h2>Bundlers</h2>
  <p class="explainer">
    Browsers ignore content within iframes by default, <br />
    whyframe leverages <span>modern JavaScript bundlers</span> to make it possible.
  </p>
  <p class="imgs">
    <a class="vite" href="https://vitejs.dev">
      <img src={vite} alt="vite logo" width="58" height="58" />
    </a>
    <a class="webpack" href="https://webpack.js.org">
      <img src={webpack} alt="webpack logo" width="60" height="60" />
    </a>
    <a class="tbd rollup" href="https://rollupjs.org">
      <img src={rollup} alt="rollup logo" width="58" height="58" />
    </a>
  </p>
  <h2 class="framework">Frameworks</h2>
  <p class="explainer">Supports most popular UI frameworks!</p>
  <p class="imgs">
    <a class="svelte" href="https://svelte.dev">
      <img src={svelte} alt="svelte" width="50" height="50" />
    </a>
    <a class="vue" href="https://vuejs.org">
      <img src={vue} alt="vue" width="44" height="44" />
    </a>
    <a class="solid" href="https://solidjs.com">
      <img src={solid} alt="solid" width="48" height="48" />
    </a>
    <a class="preact" href="https://preactjs.com">
      <img src={preact} alt="preact" width="50" height="50" />
    </a>
    <a class="react" href="https://reactjs.org">
      <img src={react} alt="react" width="50" height="50" />
    </a>
    <a class="astro" class="astro" href="https://astro.build">
      <img src={astro} alt="astro" width="50" height="50" />
    </a>
  </p>
</section>

<style>
  section {
    position: relative;
    padding: 4rem 0 4.3rem;
    background-color: var(--gray-dark);
    padding: 3rem 0;
  }

  section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    pointer-events: none;
    background-color: var(--gray-light);
    -webkit-mask-image: url(@/assets/background.svg);
    mask-image: url(@/assets/background.svg);
    -webkit-mask-position: 0 top;
    mask-position: 0 top;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
  }

  h2 {
    text-align: center;
    color: var(--primary);
  }

  .explainer {
    text-align: center;
    font-size: 0.95rem;
    margin: 1rem 0 2rem;
    opacity: 0.8;
    line-height: 1.8;
  }

  .explainer > span {
    color: var(--primary);
  }

  .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 260px;
  }

  .tbd {
    position: relative;
  }

  .tbd > img {
    opacity: 0.2;
  }

  .tbd::after {
    position: absolute;
    content: 'TBD';
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    color: var(--dark);
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.1rem 0.2rem;
    border-radius: 0.25rem;
  }

  .framework {
    margin-top: 5.5rem;
  }

  .astro {
    transform: translateX(-4px) translateY(3px);
  }

  a {
    /* Safari clips the filter shadow if not */
    will-change: filter;
    transition: filter 0.15s ease-out;
  }

  .vite:hover,
  .vite:focus {
    filter: drop-shadow(0 0 1em #646cffaa);
  }
  .webpack:hover,
  .webpack:focus {
    filter: drop-shadow(0 0 1em #8ed6fb88);
  }
  .rollup:hover,
  .rollup:focus {
    filter: drop-shadow(0 0 1em #efc10088);
  }
  .svelte:hover,
  .svelte:focus {
    filter: drop-shadow(0 0 1em #ff3e00aa);
  }
  .vue:hover,
  .vue:focus {
    filter: drop-shadow(0 0 1em #42b883aa);
  }
  .solid:hover,
  .solid:focus {
    filter: drop-shadow(0 0 1em #4f88c6aa);
  }
  .preact:hover,
  .preact:focus {
    filter: drop-shadow(0 0 1em #673ab7aa);
  }
  .react:hover,
  .react:focus {
    filter: drop-shadow(0 0 1em #61dafbaa);
  }
  .astro:hover,
  .astro:focus {
    filter: drop-shadow(0 0 1em #ffffffaa);
  }

  @media (min-width: 768px) {
    .explainer {
      font-size: 1.1rem;
    }

    .imgs {
      max-width: none;
    }
  }
</style>
