---
import github from '@/assets/github.svg'

interface Props {
  playground: string
}

const stackblitzUrl = `https://stackblitz.com/fork/github/bluwy/whyframe/tree/master/playground/${Astro.props.playground}`
const githubUrl = `https://github.com/bluwy/whyframe/tree/master/playground/${Astro.props.playground}`
---

<div class="card">
  <a class="mini-hero" href={stackblitzUrl}>
    <slot />
  </a>
  <div class="bottom-bar">
    <a class="github" href={githubUrl}>
      <img src={github} alt="GitHub" width="24" height="24" />
    </a>
  </div>
</div>

<style>
  img {
    display: block;
  }

  .card {
    position: relative;
    background-color: var(--gray-dark);
    border-radius: 0.5rem;
    border: 2px solid var(--gray);
    overflow: hidden;
  }

  .mini-hero {
    display: flex;
    background-image: url(@/assets/background.svg);
    background-color: var(--dark);
    color: var(--light);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 130px;
    transition: background-color 0.2s ease-out;
  }

  .mini-hero:hover,
  .mini-hero:focus {
    background-color: var(--gray-dark);
  }

  .separator {
    font-size: 3rem;
    margin: 0 0.8rem;
    font-weight: 300;
    border-bottom: none;
    color: var(--gray-light);
  }

  .bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
  }

  .github {
    filter: invert(1);
    padding: 0.6rem;
    border-top-left-radius: 0.5rem;
    background-color: transparent;
    transition: opacity 0.2s ease-out;
    pointer-events: visible;
    opacity: 0.6;
  }

  .github:hover,
  .github:focus {
    opacity: 1;
  }
</style>
