---
import Layout from '@/layouts/Layout.astro'
import HeroDemo from '@/components/demos/HeroDemo.astro'
import Card from '@/components/Card.astro'
import vite from '@/assets/vite.svg'
import svelte from '@/assets/svelte.svg'
import vue from '@/assets/vue.svg'
import solid from '@/assets/solid.svg'
import preact from '@/assets/preact.svg'
import react from '@/assets/react.svg'
import sveltekit from '@/assets/sveltekit.svg'
import astro from '@/assets/astro.svg'
import vitepress from '@/assets/vitepress.svg'
import nuxt from '@/assets/nuxt.svg'
import Hero from '@/components/hero/Hero.astro'
---

<Layout title="whyframe" isHero>
  <Hero />

  <section class="docs-container">
    <div class="cards">
      <Card>
        <span slot="title">📦 Just works</span>
        <span>
          Out-of-the-box support for Vite, SvelteKit, Astro, VitePress, and
          Nuxt.
        </span>
      </Card>
      <Card>
        <span slot="title">🛠 Flexible</span>
        <span>
          Wrap it with a component. Add custom styles and logic. Make it
          whatever you want!
        </span>
      </Card>
      <Card>
        <span slot="title">⚡️ Performant</span>
        <span>
          Renders with your framework of choice as-is. Everything else is done
          in compile-time.
        </span>
      </Card>
    </div>
  </section>

  <section>
    <h2>Works with major frameworks</h2>
    <p>
      <img src={vite} alt="vite" height="50" />
      <img src={svelte} alt="svelte" height="50" />
      <img src={vue} alt="vue" height="50" />
      <img src={solid} alt="solid" height="50" />
      <img src={preact} alt="preact" height="50" />
      <img src={react} alt="react" height="50" />
      <img src={sveltekit} alt="sveltekit" height="50" />
      <img src={astro} alt="astro" height="50" />
      <img src={vitepress} alt="vitepress" height="50" />
      <img src={nuxt} alt="nuxt" height="50" />
    </p>
  </section>

  <section class="docs-container">
    <p class="sponsors-text">
      whyframe is made possible thanks to these fine folks
    </p>
    <p class="sponsors-support">
      <a class="link" href="https://patreon.com/bluwy">
        Support me on Patreon!
      </a>
    </p>
    <p class="sponsors-img">
      <a href="https://bjornlu.com/sponsors.svg">
        <img src="https://bjornlu.com/sponsors.svg" alt="Sponsors" />
      </a>
    </p>
  </section>
</Layout>

<style>
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .sponsors-text {
    opacity: 0.8;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
  }

  .sponsors-support {
    opacity: 0.8;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.7rem;
  }

  .sponsors-img {
    text-align: center;
  }

  .sponsors-img img {
    max-width: calc(100vw - 2rem);
  }

  @media (min-width: 768px) {
    .cards {
      flex-direction: row;
      align-items: stretch;
    }
  }
</style>
