---
import { getGuideAdjacentLink } from '@/utils/constants'
import EditOn from '../EditOn.astro'

export interface Props {
  file: string
}

const adjacentLink = getGuideAdjacentLink(Astro.url.pathname)
---

<div class="edit-on">
  <EditOn file={Astro.props.file} />
</div>

{
  adjacentLink && (
    <section
      class={`adjacent-section ${!adjacentLink.prevLink ? 'right' : 'left'}`}
    >
      {adjacentLink.prevLink && (
        <a class="adjacent-box left" href={adjacentLink.prevLink.url}>
          <h2>Previous</h2>
          <p>{adjacentLink.prevLink.title}</p>
        </a>
      )}
      {adjacentLink.nextLink && (
        <a class="adjacent-box right" href={adjacentLink.nextLink.url}>
          <h2>Next</h2>
          <p>{adjacentLink.nextLink.title}</p>
        </a>
      )}
    </section>
  )
}

<style>
  .edit-on {
    margin-top: 3rem;
  }

  .adjacent-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .adjacent-box {
    border: 1px solid var(--gray);
    padding: 0.8rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1em;
    color: var(--light);
    text-decoration: none;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
  }

  .adjacent-box > p {
    margin: 0;
    margin-top: 0.3rem;
    display: block;
  }

  .adjacent-box.right {
    text-align: right;
  }

  .adjacent-box:hover,
  .adjacent-box:focus {
    border-color: var(--primary);
    background-color: #ffffff20;
    color: var(--primary);
  }

  .adjacent-box > h2 {
    margin: 0;
    font-size: 0.8em;
    opacity: 0.7;
    color: var(--light);
  }

  @media (min-width: 768px) {
    .adjacent-section {
      flex-direction: row;
    }

    .adjacent-section.right {
      justify-content: flex-end;
    }
    .adjacent-box {
      width: 50%;
    }
  }

  @media (min-width: 1248px) {
    .edit-on {
      display: none;
    }

    .adjacent-section {
      margin-top: 3rem;
    }
  }
</style>
